{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>P2P collector</title>
    <link rel="stylesheet" href="{% static 'app/css/face.css' %}">
    <link rel="icon" type="image/png" href="{% static 'app/image/logo-coin.png' %}">
</head>

<body>
<div class="container">
    <img class="image" src="{% static 'app/image/back-face.jpg' %}" alt="Картинка">
    <a href="{% url 'filter' %}">
        <button class="cyberpunk-button">
            To collect!
        </button>
    </a>
</div>
</body>
</html>