{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="reg">
    <div class="registration-form">
        <form method="post">
            {% csrf_token %}

            <h3>{{ data }} user</h3>

            {% for f in form %}
            <div>{{ f }}</div>
            <div class="form-error">{{ f.errors }}</div>

            {% endfor %}
            <div>{{ form.non_field_errors }}</div>
            <button type="submit">{{ data }}</button>
        </form>
    </div>
</div>

{% endblock %}