{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="reg">
    <div class="registration-form">
        <form method="post" id="form">
            {% csrf_token %}

            <h3>{{ data }} user</h3>

            {% for f in form %}
            <div id="{{ f.name }}">{{ f }}</div>

            {% endfor %}

            <button type="submit" id="submitButton">{{ data }}</button>
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'app/js/login.js' %}"></script>
{% endblock %}


