{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="reg">
    <div class="registration-form">
        <form method="post" id="form">
            {% csrf_token %}

            <h3>New password</h3>

            {% for f in form %}
            <div id="{{ f.name }}">{{ f }}</div>

            {% endfor %}

            {% if form.subject.errors %}
            <ol class="errors-form">
                {% for error in form.subject.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}
            <button type="submit" id="submitButton" >Save</button>
        </form>
    </div>
</div>

{% endblock %}