{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'app/image/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Change password</title>

</head>
<body>
<div class="reg">
    <div class="center-content-info">
        <p>You changed the password</p>
        <a href="{% url 'login' %}">
            <button class="thank-button"  style="opacity:1;">login</button>
        </a>
    </div>
</div>

</body>
</html>