{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'app/image/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Change password</title>

</head>
<body>
<div class="reg">
    <div class="center-content-info">

        <p>We’ve emailed you instructions for setting your password, if an account exists with the email
            you entered. You should receive them shortly.</p>

        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with,
            and check your spam folder.</p>

        <a href="{% url 'home' %}">
            <button class="thank-button" style="opacity:1;">home</button>
        </a>

        <a href="{% url 'login' %}">
            <button class="thank-button" style="opacity:1;">login</button>
        </a>
    </div>
</div>

</body>
</html>
