{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="reg">
    <div class="registration-form">
        <form method="post" id="form" action={% url 'register' %}>
        {% csrf_token %}
        <h3>{{ data }} user</h3>

        {% for f in form %}
        <div id="{{ f.name }}" onchange="toggleButton()">{{ f }}</div>
        {% endfor %}

        <button type="submit" id="submitButton" disabled>{{ data }}</button>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'app/js/reg.js' %}"></script>
{% endblock %}


