/*
@font-face {
  font-family: 'usuzi';
  src: local("../fonts/usuzibold/Usuzibold.ttf"), url("../fonts/usuzibold/Usuzibold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
*/
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
 
.container {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

.cyberpunk-button {
  font-family: poppins;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 20px;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cyberpunk-button:hover {
  background-color: rgb(240, 240, 240);
  color: #000;
}