/* Подключение шрифтов ------------------------ */
@font-face {
  font-family: "ibm-plex-sans";
  src: url("../fonts/ibmplexsans/IBMPlexSans-Bold.ttf") format("truetype");
  font-style: 700;
  font-weight: normal;
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("../fonts/ibmplexsans/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: 400;
  font-weight: normal;
}

@font-face {
  font-family: 'usuzi';
  src: local("../fonts/usuzibold/Usuzibold.ttf"), url("../fonts/usuzibold/Usuzibold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}


/* ------------------------ */

body {
  position: relative;
  font-family: ibm-plex-sans, sans-serif;
  background-color: #f5f7fac6;
  margin: 0;
  padding: 0;
}

a{
  color: #8d8176;
  text-decoration: none !important;
  border: none !important;
}

.logo a {
  font-family: usuzi;
  color: #434343;
  text-decoration: none;
}

.buttons {
  margin-right: 10px;
}

.buttons button {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.center-content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.project-details-left {
  width: 31%;
}

.project-details-left h2 {
  font-family: usuzi;
  font-size: 24px;
}

.project-buttons {
  display: inline;
}

.project-logo {
  width: 30%;
  text-align: center;
}

.project-logo img {
  max-width: 400%;
  height: auto;
  transition: 6s ease-in-out;
}

.project-logo img:hover {
  transform: rotate(180deg);
}

.project-details-right {
  font-family: usuzi;
  width: 31%;
  font-size: 17px;
  opacity: 0.7;
}


/* fixed header ------------------------ */

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: var(--gray-bg-card);
  background-color: hsla(0,0%,100%,.6);
  box-shadow: inset 0 -1px 0 #f2f2f2;
  z-index: 100;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .header-container {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .header-container {
    max-width: 400px;
  }
}

.logo {
  flex: 0 0 auto;
  float: left;
  display: flex;
  align-items: center;
}

.logo a {
  font-family: usuzi;
  color: #434343;
  text-decoration: none;
}

.user-button {
  font-family: usuzi;
  font-size: 12px;
  color: #858585;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

#login-button {
  font-family: usuzi;
  padding: 7px 16px;
  background-color: #ffffff;
  color: #434343;
  border: #8A76FF solid 1px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 5px;
}

#register-button {
  font-family: usuzi;
  padding: 8px 16px;
  background-color: #8A76FF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

#logout {
  height: 18px;
  margin-top: 6px;
  margin-left: 10px;
  margin-right: 7px;
}

#login-button:hover {
  background: #eceafb;
}

#register-button:hover {
  background: #a292ff;
}


/* cyberpunk buttons ------------------------ */

.cyberpunk-button {
  font-family: usuzi;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cyberpunk-button:hover {
  background-color: rgb(240, 240, 240);
  color: #000;
} 

.cyberpunk-button-reg {
  font-family: usuzi;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cyberpunk-button-reg:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(240, 240, 240);
}


/* cryptocurrency rate ------------------------ */

.ticker-container {
  font-family: usuzi;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(100.72deg, #d449f7, #ff8a00);
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  position: absolute;
  white-space: nowrap;
}

.ticker-container.hide-ticker {
    visibility:hidden
}

@media (max-width: 767px) {
    .ticker-container {
        margin-left:-16px
    }
}

@media (min-width: 768px) {
    .ticker-container {
        margin-left:-24px
    }
}

@media (min-width: 1024px) {
    .ticker-container {
        margin-left:calc(468px - 50vw)
    }
}

@media (min-width: 1270px) {
    .ticker-container {
        margin-left:calc(612px - 50vw)
    }
}

@media (min-width: 1860px) {
    .ticker-container {
        margin-left:calc(852px - 50vw)
    }
}

.ticker-container .ticker-viewer {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width:100%
}

.ticker-container .ticker-viewer .animation-paused, .ticker-container .ticker-viewer.ticker-not-view .ticker-scroll, .ticker-container .ticker-viewer:hover .ticker-scroll {
    -webkit-animation-play-state: paused !important;
    animation-play-state:paused !important
}

.ticker-container .ticker-viewer .ticker-scroll {
    -webkit-transition: all linear;
    transition: all linear;
    will-change:transform, opacity
}

.ticker-container .ticker-viewer .ticker-scroll.first-animation {
    -webkit-animation: positionScrollFirst 8s linear forwards;
    animation: positionScrollFirst 8s linear forwards;
    position:absolute
}

.ticker-container .ticker-viewer .ticker-scroll.infinite-animation {
    -webkit-animation: tickerScroll 40s linear infinite normal;
    animation: tickerScroll 40s linear infinite normal;
    -webkit-transform: translateX(0);
    transform:translateX(0)
}

.ticker-container .ticker-viewer .ticker-scroll.delay-animation {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    opacity:0
}

.ticker-container .ticker-viewer .ticker-scroll.first-animation-overflow {
    -webkit-animation: positionScrollFirst 16s linear forwards;
    animation: positionScrollFirst 16s linear forwards;
    position:absolute
}

.ticker-container .ticker-viewer .ticker-scroll.infinite-animation-overflow {
    -webkit-animation: tickerScroll 80s linear infinite normal;
    animation: tickerScroll 80s linear infinite normal;
    -webkit-transform: translateX(0);
    transform:translateX(0)
}

.ticker-container .ticker-viewer .ticker-scroll.delay-animation-overflow {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
    opacity:0
}

.ticker-container .ticker-viewer .ticker-item {
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    margin-left: 57px;
    -webkit-transition: all;
    transition:all
}

.ticker-container .ticker-viewer .ticker-item span {
    margin-left:10px
}

.ticker-container .ticker-viewer .ticker-item span:first-child {
    margin-left:0
}

@-webkit-keyframes tickerScroll {
  0% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform:translateX(0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateX(-100%);
      transform:translateX(-100%)
  }
}

@keyframes tickerScroll {
  0% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform:translateX(0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateX(-100%);
      transform:translateX(-100%)
  }
}